.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: inline-block;

}

.locations {
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
    display: inline-block;
    margin-left: 40px;
    position: relative;
}

.amenities {
    height: 100%;
    width: 25%;
    display: inline-block;
    margin-left: 40px;
    position: relative;
}

h3 {
    font-weight: 600;
    margin-top: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h4 {
    font-weight: 400;
    font-size: 14px;
    margin-top: -12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul,
li {
    list-style-type: none;
    margin: 10px auto;
    line-height: 10px;
}

.popover {
    display: none;
    width: 100%;
    border: 1px solid #DDDDDD;
    background-color: #FAFAFA;
    border-radius: 4px;
    margin-left: -41px;
    position: absolute;
}

.locations:hover ul.popover,
.amenities:hover ul.popover {
    display: block;
}

.search-button {
    font-size: 18px;
    background-color: #ff5a5f;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border-radius: 4px;
    margin: 10px 20px;
    float: right;
    border: none;
}

button:hover {
    opacity: 90%;
}